{% extends 'flatpages/default.html' %}

{% block title %}
    Все статьи и новости
{% endblock title %}

{% block content %}
    {% if all_post %}

        {% for post in all_post %}

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="text-muted fst-italic mb-2">Posted on {{ post.data_time }}</div>
                        <div class="small text-muted">Автор - {{ post.author.user.first_name }} {{ post.author.user.last_name }}</div>
                        <h1 class="fw-bolder mb-1">{{ post.heading }}</h1>
                        {% for category in post.category.all %}
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ category }}</a>
                        {% endfor %}
                        <p class="fs-5 mb-4">{{ post.text | truncatewords:40 }}</p>
                        <a class="btn btn-primary" href="{% url 'post' post.id %}">Читать далее →</a>
                        <br>
                    </div>
                </div>

        {% endfor %}
        <br><br>

    {% else %}
        <h1>Новостей и статей нет</h1>

    {% endif %}

{% endblock content %}
