{% extends 'flatpages/profile.html' %}


{% block title %}
   <title>Понравившиеся публикации - BlogHome</title>
{% endblock title %}

{% block tabs %}
   <div class="tabs">
      <div class="tabs__tab-item">
         <a href="{% url 'profile' common.user.username %}" class="tabs__tab-link tabs__tab-link1">Ваши публикации</a>
      </div>
      <div class="tabs__tab-item">
         <a style="color: #8aa2ce" href="{% url 'profile_favorite_post' common.user.username %}" class="tabs__tab-link tabs__tab-link2">Понравившиеся</a>
      </div>
      <div class="tabs__tab-item">
         <a href="{% url 'profile_comment_post' common.user.username %}" class="tabs__tab-link tabs__tab-link3">Комментарии</a>
      </div>
   </div>
{% endblock tabs %}

{% block content %}

   {% if no_favorite_posts %}

      <div class="profile-placeholder__image"></div>
      <div class="profile-placeholder__text">
         <p>К сожалению, вы не добавляли статьи в избранное</p>
      </div>

   {% else %}

      {% for favorite_post in favorite_posts %}
      <div class="card mb-4">
         <div class="card-body">
            <div class="text-muted fst-italic mb-2">Posted on {{ favorite_post.post.data_time }}</div>
            <h1 class="fw-bolder mb-1">{{ favorite_post.post.heading }}</h1>
            {% for category in favorite_post.post.category.all %}
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ category }}</a>
            {% endfor %}
            <p class="fs-5 mb-4">{{ favorite_post.post.text | truncatewords:100 }}</p>
            <a class="btn btn-primary" href="{% url 'post' favorite_post.post.id %}">Читать далее →</a>
            <br><br>
         </div>
      </div>
      {% endfor %}

   {% endif %}

<style type="text/css">
   .tabs__tab-link2::before {
      content: "";
      text-align: center;
      background-color: #8aa2ce;
      height: 2px;
      left: 0;
      right: 0;
      top: 47px;
      width: 100%;
      position: absolute;
      margin: 0 auto;
   }
</style>

{% endblock content %}
