{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Post - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'post/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'post/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'all_post' %}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Выйти</a></li>
                            {% block head %}
                            {% endblock head %}

                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Зарегистрироваться</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Войти</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ post.heading }}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-<p>2">
                                    <p>Posted on {{ post.data_time }}</p>
                                    <p>Автор - {{ post.author.user.first_name }} {{ post.author.user.last_name }}</p>

                            </div>
                            <!-- Post categories-->
                            {% for category in post.category.all %}
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ category }}</a>
                            {% endfor %}
                        </header>
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{ post.text }}</p>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                {% if user.is_authenticated %}
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form.text }}<br>
                                        <input align="left" class="btn btn-primary" type="submit" value="Оставить комментарий">
                                    </form>
                                {% endif %}
                                {% for comment in all_comment_post %}
                                    <div class="d-flex mb-4">
                                        <div class="ms-3">
                                            <div class="fw-bold">{{ comment.common.user.first_name }} {{ comment.common.user.last_name }}</div>
                                            <div class="text-muted fst-italic mb-<p>2">{{ comment.data_time }}</div>
                                                {{ comment.text }}
                                            <div class="text-muted fst-italic mb-<p>2">Рейтинг - {{ comment.rating }}</div>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Рейтинг статьи: {{ post.rating }}</div>
                        
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Категории</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        {% for category in all_category %}
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <ul class="list-unstyled mb-0">
                                                        <li><a class="btn btn-primary" href="#!">{{ category }}</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Прочие статьи автора</div>
                        <div class="card-body">
                            {% for post_author in all_posts %}
                                {% if post.id != post_author.id%}
                                    <a class="btn btn-primary" href="{% url 'post' post_author.id %}">{{ post_author }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'post/js/scripts.js' %}"></script>
    </body>
</html>