@import "nullstyle.scss";

html,
body{
   font-family: -apple-system,BlinkMacSystemFont,Arial,sans-serif,system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-size: 1rem;
   font-weight: 400;
   background-color: #f0f0f0;
}

.bg-dark{
   background-color: #212529;
}
p{
   line-height: 1.5;
}
.wrapper{
   min-height: 100%;
   display: flex;
   flex-direction: column;
   header{
      border-bottom: 1px solid #dedede;
      height: 100%;
      .navbar{
         height: 56px;
         &-brand{
            color: #ffffff;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 2rem;
            font-size: 1.25rem;
            text-decoration: none;
            white-space: nowrap;
         }
         &-collapse{
            display: flex;
            justify-content: end;
            margin-left: auto !important;
         }
         &-nav{
            display: flex;
            align-items:flex-end;
         }
      }
   }
   .header-content{
      height: 4rem;
      background-color: #fff;
      position: sticky;
      z-index: 100;
      top: 0;
      left: 0;
      border-bottom: 1px solid #dedede;
   }
   main{
      flex: 1 1 auto;
      color: #333;
      padding: 0 0 60px;
      .container{
         margin: 12px auto 60px;
         align-items: start;
         .page__wrapper{
            width: 100%;
            align-items: start;
            display: flex;
            height: 1000px;
            .page__profile{
               flex: 1 1 66.666%;
               margin: 0 16px 0 0;
               display: flex;
               flex-direction: column;
               .user__block{
                  margin: 0 0 15px 0; 
                  .user-card{
                     padding: 16px 20px;
                     &__info-container{
                        display: flex;
                        flex-direction: row;
                        .user-card__image{
                           background-image: url('../img/avatar-female-03.jpg');
                           background-size: contain;
                           width: 120px;
                           height: 120px;
                        }
                        .user-card__info{
                           font-size: 1.5rem;
                           display: flex;
                           flex-direction: column;
                           justify-content: space-between;
                           margin: 0 0 0 10px;
                           .name{
                              margin: 30px 0 0 0;
                           }
                           .surname{
                              margin: 0 0 22px 0;
                           }
                        }
                        .user-card__data{
                           display: flex;
                           flex-direction: column;
                           margin-left: auto;
                           padding: 0 ;
                           .username{
                              margin: 0 0 15px 0;
                           }
                           .rate{
                              font-weight: 500;
                           }
                        }
                     }                 
                  }
                  .user__tabs{
                     padding: 0 20px 5px;
                     .tabs{
                        display: flex;
                        flex-direction: row;
                        &__tab-item{
                           display: flex;
                           align-items: center;
                           height: 44px;
                           margin: 0 24px 0 0;
                           position: relative;
                           .tabs__tab-link{
                              margin: 2px 0;
                              color: #505c66;
                              transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
                              line-height: 1.5rem;
                              font-weight: 500;
                              letter-spacing: .01rem;
                              font-size: 0.875rem;
                              text-transform: uppercase;
                              &:hover{
                                 color: #8aa2ce;
                              }
                           }
                        }
                     }
                  }
               }
               .profile__body{
                  padding: 20px;
                  .profile-placeholder{
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     flex-direction: column;
                     &__image{     
                     background-image: url('../img/nothing.png');
                     width: 150px;
                     height: 150px;
                     background-size: contain;
                     margin: 20px 20px 0;
                     }
                     &__text{
                        color: #505c66;
                        line-height: 1.5rem;
                        font-weight: 300;
                        font-size: 0.875rem;
                        margin: 20px 20px;
                     }
                  }
               }
            }
            .page__sidebar{
               display: flex;
               flex: 1 1 33.333%;
               flex-direction: column;
               position: sticky;
               z-index: 50;
               top: 76px;
               left: 0;
               border-bottom: 1px solid #dedede;
               .sidebar__block{              
                  .block{

                     &__header{
                        margin: 0 20px 0;
                        padding: 16px 0 12px;
                        border-bottom: 1px solid #d5dddf;
                        .block__header-container{
                           .block__title{
                              font-size: .8125rem;
                              letter-spacing: .0625rem;
                              line-height: 1.25rem;
                              text-transform: uppercase;
                              font-weight: 500;
                              color: #505c66;
                           }
                        }
                     }
                     &__body{
                        padding: 24px 20px;
                        font-size: .875rem;
                        line-height: 1.5;
                        color: #333;
                     }
                  }
               }   
            }
         }
      }
   }
   

   footer{
      padding-top: 3rem;
      padding-bottom: 3rem;
      .container{
         justify-content: center;
         .footer-info{
            color: #ffffff;
            display: block;
         }
      }
   }
}

.container{
   max-width: 1096px;
   width: 100%;
   margin: 0 auto;
   align-items: center;
   display: flex;
   height: 100%;
   flex-wrap: inherit;
   justify-content: space-between;
   .nav-link{
      display: block;
      margin: 0.5rem 0;
      color: #ffffff;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      line-height: 1.5rem;
      &:hover{
         color: #8aa2ce;
      }
   }
   .nav-item{
      padding: 0.5rem, 1rem;
      margin: 0 2rem 0 0;
   }
   .for-authors{
      margin: 0 0 0 8rem;
   }
}

.block{
   background-color: #fff;
   width: 100%;
}