:root {
  --bs-secondary-rgb: 108, 117, 125;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a, :visited {
  text-decoration: none;
}

a:hover {
  text-shadow: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------nullstyle----------*/
html,
body {
  font-family: -apple-system,BlinkMacSystemFont,Arial,sans-serif,system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  background-color: #f0f0f0;
}

.bg-dark {
  background-color: #212529;
}

p {
  line-height: 1.5;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper header {
  border-bottom: 1px solid #dedede;
  height: 100%;
}

.wrapper header .navbar {
  height: 56px;
}

.wrapper header .navbar-brand {
  color: #ffffff;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 2rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.wrapper header .navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: auto !important;
}

.wrapper header .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper .header-content {
  height: 4rem;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  border-bottom: 1px solid #dedede;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #333;
  padding: 0 0 60px;
}

.wrapper main .container {
  margin: 12px auto 60px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.wrapper main .container .page__wrapper {
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper main .container .page__wrapper .page__profile {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.666%;
          flex: 1 1 66.666%;
  margin: 0 16px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main .container .page__wrapper .page__profile .user__block {
  margin: 0 0 15px 0;
}

.wrapper main .container .page__wrapper .page__profile .user__block .user-card {
  padding: 16px 20px;
}

.wrapper main .container .page__wrapper .page__profile .user__block .user-card__info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper main .container .page__wrapper .page__profile .user__block .user-card__info-container .user-card__image {
  background-size: contain;
  width: 120px;
  height: 120px;
  border: 1px solid #000;
  border-radius: 0.25rem;

}

.wrapper main .container .page__wrapper .page__profile .user__block .user-card__info-container .user-card__info {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 10px;
}

.wrapper main .container .page__wrapper .page__profile .user__block .user-card__info-container .user-card__info .name {
  margin: 30px 0 0 0;
}

.wrapper main .container .page__wrapper .page__profile .user__block .user-card__info-container .user-card__info .surname {
  margin: 0 0 22px 0;
}

.wrapper main .container .page__wrapper .page__profile .user__block .user-card__info-container .user-card__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  padding: 0;
}

.wrapper main .container .page__wrapper .page__profile .user__block .user-card__info-container .user-card__data .username {
  margin: 0 0 15px 0;
}

.wrapper main .container .page__wrapper .page__profile .user__block .user-card__info-container .user-card__data .rate {
  font-weight: 500;
}

.wrapper main .container .page__wrapper .page__profile .user__block .user__tabs {
  padding: 0 20px 5px;
}

.wrapper main .container .page__wrapper .page__profile .user__block .user__tabs .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper main .container .page__wrapper .page__profile .user__block .user__tabs .tabs__tab-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  margin: 0 24px 0 0;
  position: relative;
}

.wrapper main .container .page__wrapper .page__profile .user__block .user__tabs .tabs__tab-item .tabs__tab-link {
  margin: 2px 0;
  color: #505c66;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: .01rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.wrapper main .container .page__wrapper .page__profile .user__block .user__tabs .tabs__tab-item .tabs__tab-link:hover {
  color: #8aa2ce;
}

.wrapper main .container .page__wrapper .page__profile .profile__body {
  padding: 20px;
}

.wrapper main .container .page__wrapper .page__profile .profile__body .profile-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main .container .page__wrapper .page__profile .profile__body .profile-placeholder__image {
  background-image: url("../img/nothing.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  margin: 20px 20px 0;
}

.wrapper main .container .page__wrapper .page__profile .profile__body .profile-placeholder__text {
  color: #505c66;
  line-height: 1.5rem;
  font-weight: 300;
  font-size: 0.875rem;
  margin: 20px 20px;
}

.wrapper main .container .page__wrapper .page__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  z-index: 50;
  top: 76px;
  left: 0;
  border-bottom: 1px solid #dedede;
}

.wrapper main .container .page__wrapper .page__sidebar .sidebar__block .block__header {
  margin: 0 20px 0;
  padding: 16px 0 12px;
  border-bottom: 1px solid #d5dddf;
}

.wrapper main .container .page__wrapper .page__sidebar .sidebar__block .block__header .block__header-container .block__title {
  font-size: .8125rem;
  letter-spacing: .0625rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #505c66;
}

.wrapper main .container .page__wrapper .page__sidebar .sidebar__block .block__body {
  padding: 24px 20px;
  font-size: .875rem;
  line-height: 1.5;
  color: #333;
}

.wrapper footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.wrapper footer .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper footer .container .footer-info {
  color: #ffffff;
  display: block;
}

.container {
  max-width: 1096px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .nav-link {
  display: block;
  margin: 0.5rem 0;
  color: #ffffff;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  line-height: 1.5rem;
}

.container .nav-link:hover {
  color: #8aa2ce;
}

.container .nav-item {
  padding: 0.5rem, 1rem;
  margin: 0 2rem 0 0;
}

.container .for-authors {
  margin: 0 0 0 8rem;
}

.block {
  background-color: #fff;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}

.fst-italic {
  font-style: italic !important;
}

.fw-bolder {
  font-weight: bolder !important;
}

small, .small {
  font-size: 0.875em;
}

.link-light {
  color: #f8f9fa;
}

.link-light:hover, .link-light:focus {
  color: #f9fafb;
}

.text-decoration-none {
  text-decoration: none !important;
}

.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

mt-4{
    margin-top: 1.5rem;
}

.fs-1 {
  font-size: 1.5rem;
}

.fs-2 {
  font-size: 1.3rem;
}


.fs-5 {
  font-size: 1.05rem !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  tran
}


.btn-primary {
  color: #232323;
  background-color: #fff;
  border-color: #505050;
  margin-bottom: 1%;
}

.btn-primary:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page-link {
  position: relative;
  display: block;
  color: #232323;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #000;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .page-link {
    transition: none;
  }
}

.page-link:hover {
  z-index: 2;
  color: #fff;
  background-color: #505050;
  border-color: #000;
}

.page-link:focus {
  z-index: 3;
  color: #323232;
  background-color: #c8c8c8;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #969696;
}

.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #505050;
  border-color: #969696;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #505050;
  border-color: #969696;
}

.page-link {
  padding: 0.375rem 0.75rem;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}
.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.justify-content-center {
  justify-content: center !important;
}

.laravel-icon {
    background:url("../img/favorite.png") no-repeat left center;
    background-size: 16px;
    display:inline-block;
    vertical-align:bottom;
    padding-left: 25px;
}

.user-image {
    weight: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 0.25rem;

}

.a:holder {
    color: #fff;
}

.menu-item {

    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    color: #909090;
    font-size: 1rem;
    line-height: 1rem;

}

.menu-item:hover {
    color: #487284;
}

.rate__item {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 24px;
}

.post__item {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.rate__post, .rate__rating, .post__btn, .post__rating {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.rate__post, .post__btn {
  color: #333;
}

.rate__rating {
  color: #cd66cd;
  margin-left: auto;
}

.post__rating {
  color: #333;
  margin-left: auto;
}

.header-box {
    display: flex;
    margin-left: auto;
}

.header-item {
    align-items: center;
    display: flex;
}

.header-btn-item {
    margin-right: 20px;
    font-size: 25px;

}

.icon-href {
    text-decoration: none;
    color: #333;
}

.icon-href:hover {
    color: #487284;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(fff), var(--bs-bg-opacity)) !important;
}



.form-control {
  display: block;
  width: 500px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f0f0f0;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
}
.form-control[type=file] {
  overflow: hidden;
}
.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
.form-control::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
  .form-control::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}
.form-control::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.form-control-sm::-webkit-file-upload-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}
.form-control-sm::file-selector-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}
.form-control-sm::-webkit-file-upload-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}

.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.form-control-lg::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}
.form-control-lg::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}
.form-control-lg::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}
textarea.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
}
textarea.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
}

.form-control-color {
  width: 3rem;
  height: auto;
  padding: 0.375rem;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control-color::-moz-color-swatch {
  height: 1.5em;
  border-radius: 0.25rem;
}
.form-control-color::-webkit-color-swatch {
  height: 1.5em;
  border-radius: 0.25rem;
}
